.contact-information {
  background-color: #e6f2ff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 40px;
  font-family: "Fira Sans", sans-serif;
  iframe {
    border: none;
    width: 480px;
    height: 380px;
    margin-bottom: 20px;
  }
  .address-information {
    display: flex;
    margin: 0 20px;
    flex-direction: column;
    justify-content: center;
  }
  div {
    margin: 10px 0;
  }
  .contact-title {
    font-size: 38px;
    font-weight: 600;
  }
  .our-location {
    font-size: 30px;
    font-family: 550;
  }
}

// 1304
@media (max-width: 1304px) {
  .contact-information {
    background-color: rgb(227, 238, 238);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 40px;
    font-family: "Fira Sans", sans-serif;

    iframe {
      border: none;
      width: 900px;
      height: 400px;
      margin-bottom: 20px;
      border: none;
    }
    .address-information {
      display: flex;
      margin: 0 20px;
      flex-direction: column;
      justify-content: center;
    }
    div {
      margin: 10px 0;
    }
    .contact-title {
      font-size: 38px;
      font-weight: 600;
    }
    .our-location {
      font-size: 30px;
      font-family: 550;
    }
  }
}

// 940
@media (max-width: 940px) {
  .contact-information {
    background-color: rgb(227, 238, 238);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 40px;
    height: fit-content;
    font-family: "Fira Sans", sans-serif;

    iframe {
      border: none;
      width: 600px;
      height: 400px;
      margin-bottom: 20px;
      border: none;
    }
    .address-information {
      display: flex;
      text-align: center;
      margin: 0 20px;
      flex-direction: column;
      justify-content: center;
      margin-bottom: 10px;
    }
    div {
      margin: 10px 0;
    }
    .contact-title {
      font-size: 38px;
      font-weight: 600;
    }
    .our-location {
      font-size: 30px;
      font-family: 550;
    }
  }
}

// 663
@media (max-width: 663px) {
  .contact-information {
    background-color: rgb(227, 238, 238);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 40px;
    height: fit-content;
    font-family: "Fira Sans", sans-serif;

    iframe {
      width: 400px;
      height: 300px;
      margin-bottom: 20px;
      border: none;
    }
    .address-information {
      display: flex;
      text-align: center;
      margin: 0 15px;
      flex-direction: column;
      justify-content: center;
      margin-bottom: 10px;
    }
    div {
      margin: 8px 0;
    }
    .contact-title {
      font-size: 30px;
      font-weight: 600;
    }
    .our-location {
      font-size: 26px;
      font-family: 550;
    }
  }
}

//430
@media (max-width: 430px) {
  .contact-information {
    background-color: rgb(227, 238, 238);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 40px;
    height: fit-content;
    font-family: "Fira Sans", sans-serif;

    iframe {
      border: none;
      width: 300px;
      height: 280px;
      margin-bottom: 20px;
      border: none;
    }
    .address-information {
      display: flex;
      text-align: center;
      margin: 0 15px;
      flex-direction: column;
      justify-content: center;
      margin-bottom: 10px;
    }
    div {
      margin: 8px 0;
    }
    .contact-title {
      font-size: 20px;
      font-weight: 600;
    }
    .our-location {
      font-size: 18px;
      font-family: 550;
    }
  }
}
