@import url("https://fonts.googleapis.com/css2?family=Playwrite+IT+Moderna:wght@100..400&display=swap");
.nav-bar {
  display: flex;
  body {
    font-family: "Fira Sans", sans-serif;
  }

  justify-content: space-evenly;
  background-color: rgb(240, 240, 232);
  .nav-h1 {
    h1 {
      font-size: 40px;
      font-weight: 700;
    }
    span {
      display: none;
    }
  }
  .active {
    color: red;
  }
  .nav-menu {
    display: flex;
    align-items: center;
    font-size: 30px;
    font-weight: 550;
    cursor: pointer;

    div {
      padding: 0 25px;
    }
  }
  .nav-button {
    display: flex;
    align-items: center;
    cursor: pointer;
    button {
      padding: 8px 27px;
      margin: 0 10px;
      font-size: 18px;
      font-weight: 500;
      border-radius: 30px;
    }
    .btn-login {
      &:hover {
        background-color: yellow;
        color: red;
      }
    }
    .btn-register {
      &:hover {
        background-color: red;
        color: white;
      }
    }
  }
}
// 1333
@media (max-width: 1333px) {
  .nav-bar {
    display: flex;
    body {
      font-family: "Fira Sans", sans-serif;
    }

    justify-content: space-evenly;
    background-color: rgb(240, 240, 232);
    .nav-h1 {
      h1 {
        font-size: 30px;
        font-weight: 700;
      }
    }
    .active {
      color: red;
    }
    .nav-menu {
      display: flex;
      align-items: center;
      font-size: 23px;
      font-weight: 550;
      cursor: pointer;

      div {
        padding: 0 18px;
      }
    }
    .nav-button {
      display: flex;
      align-items: center;
      cursor: pointer;
      button {
        padding: 8px 24px;
        margin: 0 8px;
        font-size: 16px;
        font-weight: 500;
        border-radius: 30px;
      }
      .btn-login {
        &:hover {
          background-color: yellow;
          color: red;
        }
      }
      .btn-register {
        &:hover {
          background-color: red;
          color: white;
        }
      }
    }
  }
}
// 940
@media (max-width: 940px) {
  .nav-bar {
    display: flex;
    body {
      font-family: "Fira Sans", sans-serif;
    }

    justify-content: space-evenly;
    background-color: rgb(240, 240, 232);

    .nav-h1 {
      h1 {
        font-size: 30px;
        font-weight: 700;
      }
      span {
        display: inline-block;
      }
    }
    .active {
      color: red;
    }
    .nav-menu {
      display: none;
      align-items: center;
      font-size: 23px;
      font-weight: 550;
      cursor: pointer;

      div {
        padding: 0 18px;
      }
    }
    .nav-button {
      display: flex;
      align-items: center;
      cursor: pointer;
      button {
        padding: 8px 24px;
        margin: 0 8px;
        font-size: 16px;
        font-weight: 500;
        border-radius: 30px;
      }
      .btn-login {
        &:hover {
          background-color: yellow;
          color: red;
        }
      }
      .btn-register {
        &:hover {
          background-color: red;
          color: white;
        }
      }
    }
  }
  /** nav-bars**/
  .nav-bars {
    display: flex;
    flex-direction: column;
    align-items: center;
    body {
      font-family: "Fira Sans", sans-serif;
    }

    background-color: rgb(240, 240, 232);
    padding: 20px 10px; /* Add padding for spacing */
    animation: opacityfake 3s;
    .nav-h1 {
      cursor: pointer;
      width: 100%;
      text-align: center;
      padding: 10px 0;
      border-bottom: 2px solid green;

      h1 {
        font-size: 30px;
        font-weight: 700;
      }
      span {
        display: inline-block;
      }
    }

    .nav-menu {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      margin-top: 15px; /* Add margin for spacing */
      background-color: rgb(240, 240, 232);
      font-size: 23px;
      font-weight: 550;
      cursor: pointer;

      div {
        padding: 15px 0;
        width: 100%;
        text-align: center;

        &:hover {
          background-color: rgb(230, 230, 220);
        }
      }
    }

    .nav-button {
      display: flex;

      align-items: center;
      margin-top: 20px;

      button {
        width: 100%;

        padding: 10px 15px; /* Adjust padding */
        margin: 10px 5px; /* Adjust margin */
        font-size: 20px;
        font-weight: 500;
        border-radius: 30px;
        transition: background-color 0.3s, color 0.3s;

        &:hover {
          background-color: yellow;
          color: red;
        }

        &.btn-register {
          &:hover {
            background-color: red;
            color: white;
          }
        }
      }
    }

    .active {
      color: red;
    }
  }
}

// 650
@media (max-width: 940px) {
  .nav-bar {
    display: flex;
    body {
      font-family: "Fira Sans", sans-serif;
    }

    justify-content: space-evenly;
    background-color: rgb(240, 240, 232);

    .nav-h1 {
      h1 {
        font-size: 30px;
        font-weight: 700;
      }
      span {
        display: inline-block;
      }
    }
    .active {
      color: red;
    }
    .nav-menu {
      display: none;
      align-items: center;
      font-size: 23px;
      font-weight: 550;
      cursor: pointer;

      div {
        padding: 0 18px;
      }
    }
    .nav-button {
      display: flex;
      align-items: center;
      cursor: pointer;
      .name-display {
        display: none;
      }
      button {
        padding: 8px 24px;
        margin: 0 8px;
        font-size: 16px;
        font-weight: 500;
        border-radius: 30px;
      }
      .btn-login {
        &:hover {
          background-color: yellow;
          color: red;
        }
      }
      .btn-register {
        &:hover {
          background-color: red;
          color: white;
        }
      }
    }
  }
  /** nav-bars**/
  .nav-bars {
    display: flex;
    flex-direction: column;
    align-items: center;
    body {
      font-family: "Fira Sans", sans-serif;
    }

    background-color: rgb(240, 240, 232);
    padding: 20px 10px; /* Add padding for spacing */
    animation: opacityfake 3s;
    .nav-h1 {
      cursor: pointer;
      width: 100%;
      text-align: center;
      padding: 10px 0;
      border-bottom: 2px solid green;

      h1 {
        font-size: 30px;
        font-weight: 700;
      }
      span {
        display: inline-block;
      }
    }

    .nav-menu {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      margin-top: 15px; /* Add margin for spacing */
      background-color: rgb(240, 240, 232);
      font-size: 23px;
      font-weight: 550;
      cursor: pointer;

      div {
        padding: 15px 0;
        width: 100%;
        text-align: center;

        &:hover {
          background-color: rgb(230, 230, 220);
        }
      }
    }

    .nav-button {
      display: flex;

      align-items: center;
      margin-top: 20px;

      button {
        width: 100%;

        padding: 10px 15px; /* Adjust padding */
        margin: 10px 5px; /* Adjust margin */
        font-size: 20px;
        font-weight: 500;
        border-radius: 30px;
        transition: background-color 0.3s, color 0.3s;

        &:hover {
          background-color: yellow;
          color: red;
        }

        &.btn-register {
          &:hover {
            background-color: red;
            color: white;
          }
        }
      }
    }

    .active {
      color: red;
    }
  }
}
