.ourteam {
  background: #e6f2ff;
  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: "Fira Sans", sans-serif;
  .team-line {
    border: 1px solid rgb(179, 176, 176);
    width: 60%;
    margin-top: 40px;
  }
  .team-title {
    margin-top: 40px;
    font-size: 45px;
    font-weight: 800;
  }
  .team-main-content {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    //text-align: center;

    .team-content {
      width: fit-content;
      height: fit-content;
      border: 1px solid rgb(193, 189, 189);
      margin: 10px 30px;
      margin-bottom: 30px;
      .ourteam-image {
        .img-team {
          width: 330px;
          height: 270px;
        }
      }
      .team-name {
        color: black;
        font-size: 25px;
        text-align: center;
        animation: namecolor 3s alternate infinite;
      }
      .description-team {
        margin-top: 1%;
        margin-bottom: 1.5%;
        width: 320px;
        //  text-align: center;
        color: white;

        p {
          animation: color 3s alternate infinite;
          color: black;
          font-size: 20px;
          margin-bottom: 4%;
          font-weight: 800;
        }
      }
    }
  }
}
