.navigation-homepage {
  background-color: #e6f2ff;
  font-family: "Fira Sans", sans-serif;

  .navigation-h1 {
    padding-top: 30px;
    text-align: center;
    font-weight: 700;
    font-size: 30px;
  }
  .navigation-content {
    margin-top: 30px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    .nav-first {
      margin: 15px 15px;
      border: 1px solid rgb(192, 187, 187);
      width: fit-content;
      transition: transform 4s ease-in-out;
      background: rgba(172, 166, 166, 0.3);

      &:hover {
        animation: moveImage 1s infinite alternate;
      }
      img {
        width: 320px;
        height: 355px;
      }
      .navigation-text {
        width: 320px;
        font-size: 20px;
        font-weight: 600;
        text-align: center;
      }
    }
  }
}
