.oursuccess {
  font-family: "Fira Sans", sans-serif;

  background-color: #e6f2ff;
  padding-top: 30px;

  .lien {
    display: flex;
    justify-content: center;
    .line {
      width: 80%;
      border: 1px solid rgb(200, 196, 196);
    }
  }
  .success-h1 {
    margin-top: 50px;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
  }
  img {
    animation: success 3s alternate infinite;
    width: 100%;
    height: 550px;
    object-fit: contain;
  }
}
