.footer {
  background-color: #e6f2ff; // màu nền cho footer
  padding: 20px;
  text-align: center;
  margin-top: 10px;
  box-shadow: 0 0 0 14px white;

  .footer-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;

    .footer-h1 {
      font-size: 30px;
      font-weight: bold;
      color: #333;
      margin-right: 10px;
      font-family: "Courier New", Courier, monospace;
    }

    img {
      width: 80px;
      height: auto;
    }
  }

  .footer-content {
    h1 {
      font-size: 20px;
      color: #444;
      margin-bottom: 15px;
    }

    .footer-main-content {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      .footer-main-icon {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px;
        width: 80px;

        .footer-icon {
          font-size: 34px;
          color: #007bff;
          margin-bottom: 5px;

          &:hover {
            color: #0056b3;
          }
        }

        .icon-name {
          font-size: 16px;
          color: #666;
          font-weight: 800;
        }
      }
    }
  }
}
