.our-destination {
  font-family: "Fira Sans", sans-serif;
  background-color: #e6f2ff;

  .destination-title {
    font-size: 45px;
    color: black;
    padding-top: 30px;
    font-weight: 700;
    text-align: center;
  }
  .search-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    background-color: white;
    padding: 8px;
    max-width: 300px;
    margin: 0 auto;
    border-radius: 20px;
    input {
      width: 100%;
      height: 35px;
      font-size: 18px;
      outline: none;
      border: none;
      font-family: "Fira Sans", sans-serif;
      font-weight: 600;
    }
    .seach-span {
      font-size: 20px;
      font-weight: 800;
    }
  }

  .ourdestination-content {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 30px 30px;
    padding-top: 50px;
    margin: 0px 60px;

    .destination-image {
      margin-bottom: 25px;
      border: 1px solid rgb(201, 193, 193);
      width: fit-content;
      height: fit-content;
      &:hover {
        animation: moveImage 3s alternate infinite;
      }
      img {
        width: 300px;
        height: auto;
      }
      .destination-infor {
        font-size: 23px;
        margin: 2%;
        span {
          font-weight: 800;
          text-transform: capitalize;
        }
      }
      button {
        font-family: "Fira Sans", sans-serif;
        font-size: 17px;
        margin: 2%;
        font-weight: 600;
        margin-bottom: 15px;
        padding: 8px 25px;
        color: white;
        background-color: red;
        border-radius: 20px;
        &:hover {
          background-color: yellow;
          color: red;
        }
      }
    }
  }
  ul {
    margin-top: 20px;
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 25px;
    font-weight: 800;
    text-decoration: none;
    list-style: none;
    cursor: pointer;

    li {
      margin: 0 30px;
      cursor: pointer;
    }
  }
}
