.adminpage {
  font-family: "Fira Sans", sans-serif;
  display: flex;
  // margin: 0 10px;
  background-color: rgb(234, 238, 240);
  .adminMenu {
    // border: 1px solid red;
    width: 20%;
    height: 100vh;
    span {
      font-size: 32px;
      color: rgb(124, 173, 220);
      font-weight: 600;
      margin: 0 10px;
    }
    div {
      font-weight: 700;
      font-size: 25px;
      border: 1px solid black;
      text-align: center;
      padding: 10px;
      margin: 30px 0;
      cursor: pointer;
      &:hover {
        background-color: yellow;
        color: red;
      }
    }
  }
  .admindisplay {
    width: 80%;
    border: 1px solid black;
  }
  .active {
    background-color: rgb(227, 177, 177);
    color: white;
  }
}
