.login {
  font-family: "Fira Sans", sans-serif;
  background: url("../image/loginimage.webp");
  height: 100vh;
  .login-main-content {
    display: flex;
    justify-content: center;
    .login-content {
      margin-top: 350px;

      .form {
        label {
          font-size: 28px;
          font-weight: 700;
        }
        input {
          padding: 8px 120px;
          border-radius: 30px;
          font-weight: 600;
        }
      }
      .button {
        margin-top: 20px;
        text-align: center;

        .login-button {
          padding: 10px 35px;
          margin: 0 10px;
          border-radius: 30px;
          font-size: 20px;
          font-weight: 500;
          cursor: pointer;
          background-color: transparent;
          &:hover {
            background-color: yellow;
            color: red;
          }
        }
        .register-button {
          padding: 10px 35px;
          margin: 0 10px;
          border-radius: 30px;
          font-size: 20px;
          font-weight: 500;
          cursor: pointer;
          background-color: transparent;
          &:hover {
            background-color: red;
            color: white;
          }
        }
      }
      .button-back {
        margin-top: 30px;
        text-align: center;
        button {
          padding: 10px 35px;
          border-radius: 30px;
          font-size: 20px;
          font-weight: 500;
          background-color: black;
          color: white;
          cursor: pointer;
          &:hover {
            background-color: yellow;
            color: black;
          }
        }
      }
    }
  }
}
//470
@media (max-width: 470px) {
  .login {
    font-family: "Fira Sans", sans-serif;
    background: url("../image/loginimage.webp");

    height: 100vh;
    .login-main-content {
      display: flex;
      justify-content: center;
      .login-content {
        margin-top: 350px;

        .form {
          label {
            font-size: 28px;
            font-weight: 700;
          }
          input {
            padding: 8px 80px;
            border-radius: 30px;
            font-weight: 600;
          }
        }
        .button {
          margin-top: 20px;
          text-align: center;

          .login-button {
            padding: 10px 35px;
            margin: 0 10px;
            border-radius: 30px;
            font-size: 20px;
            font-weight: 500;
            cursor: pointer;
            background-color: transparent;
            &:hover {
              background-color: yellow;
              color: red;
            }
          }
          .register-button {
            padding: 10px 35px;
            margin: 0 10px;
            border-radius: 30px;
            font-size: 20px;
            font-weight: 500;
            cursor: pointer;
            background-color: transparent;
            &:hover {
              background-color: red;
              color: white;
            }
          }
        }
        .button-back {
          margin-top: 30px;
          text-align: center;
          button {
            padding: 10px 35px;
            border-radius: 30px;
            font-size: 20px;
            font-weight: 500;
            background-color: black;
            color: white;
            cursor: pointer;
            &:hover {
              background-color: yellow;
              color: black;
            }
          }
        }
      }
    }
  }
}
