.destinationdisplay {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Fira Sans", sans-serif;
  .destination-title {
    font-size: 40px;
    font-weight: 600;
    padding-top: 30px;
    margin-bottom: 50px;
  }
  table {
    border: 1px solid black;
    width: 70%;
    th {
      padding: 10px 0;
      border: 1px solid black;
      font-weight: 700px;
      font-size: 20px;
    }
    td {
      padding: 10px 0;
      border: 1px solid black;
      text-align: center;
      font-weight: 600px;
      font-size: 20px;
      .edit-button {
        font-size: 23px;
        font-weight: 600;
        background-color: yellow;
        padding: 4px 26px;
      }
      .delete-button {
        font-size: 23px;
        font-weight: 600;
        background-color: red;
        padding: 4px 26px;
        color: white;
      }
    }
  }
  .centeredmodal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    font-family: "Fira Sans", sans-serif;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);

    .modal-dialog {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: white;
      width: 500px;

      .model-title {
        padding-top: 20px;
        font-size: 35px;
        font-weight: 600;
      }
      .modal-Body {
        .edit-model {
          textarea {
            font-size: 15px;
            font-weight: 600;
            height: 150px;
            width: 400px;
          }
          label {
            font-size: 25px;
            font-weight: 600;
          }
          input {
            margin-bottom: 15px;
            font-size: 15px;
            width: 300px;
            height: 28px;
          }
        }
      }
      .model-button {
        .primary {
          padding: 10px 30px;
          border-radius: 30px;
          font-size: 15px;
          background-color: red;
          color: white;
        }
        .primarys {
          padding: 10px 30px;
          border-radius: 30px;
          font-size: 15px;
          background-color: yellow;
          color: red;
        }
      }
    }
  }
}
