.destination-import {
  font-family: "Fira Sans", sans-serif;
  .destination-title {
    text-align: center;
    padding-top: 30px;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 30px;
  }
  .destination-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .destination-form {
      label {
        font-size: 25px;
        font-weight: 600;
      }
      input {
        width: 300px;
        height: 33px;
        font-size: 17px;
        font-weight: 500;
        margin-bottom: 20px;
      }
    }
    .destination-image {
      label {
        font-size: 25px;
        font-weight: 600;
      }
      input {
        padding-top: 10px;
        font-size: 15px;
      }
    }
    .div {
      margin-top: 30px;
      button {
        padding-top: 30px;
        padding: 10px 40px;
        font-size: 15px;
        font-weight: 600;
        &:hover {
          color: white;
          background-color: red;
        }
      }
    }
  }
}
