.bookingDetails {
  font-family: "Fira Sans", sans-serif;
  background-color: #e6f2ff;
  .booking-title {
    text-align: center;
    padding-top: 30px;
    font-size: 40px;
    font-weight: 600;
  }
  .booking-image {
    margin-left: 200px;
    img {
      margin-top: 30px;
      width: 1300px;
      height: 600px;
    }
  }
  .booking-content {
    margin-top: 30px;
    margin-left: 200px;
    .content-title {
      font-size: 30px;
      font-weight: 600;
    }
    .content-price {
      margin-top: 10px;
      font-size: 30px;
      font-weight: 600;
    }
    .content-date {
      margin-top: 10px;
      font-size: 30px;
      font-weight: 600;
      input {
        margin: 0 5px;
        width: 200px;
        height: 45px;
        border-radius: 30px;
        text-align: center;
      }
    }
    .content-number {
      margin-top: 10px;
      font-size: 30px;
      font-weight: 600;
      input {
        margin: 0 5px;
        width: 200px;
        height: 45px;
        border-radius: 30px;
        text-align: center;
      }
    }
    .content-description {
      width: 85%;
      margin-top: 15px;
      font-size: 20px;
      font-weight: 600;
    }
    .content-totalprice {
      margin-top: 10px;
      font-size: 30px;
      font-weight: 600;
    }
    button {
      margin-top: 10px;
      color: white;
      background-color: red;
      margin-bottom: 30px;
      border-radius: 30px;
      padding: 12px 45px;
      font-size: 15px;
      font-weight: 600;
      &:hover {
        color: red;
        background-color: yellow;
      }
    }
  }
}

// 1517
@media (max-width: 1517px) {
  .bookingDetails {
    font-family: "Fira Sans", sans-serif;
    background-color: #e6f2ff;
    .booking-title {
      text-align: center;
      padding-top: 30px;
      font-size: 40px;
      font-weight: 600;
    }
    .booking-image {
      margin-left: 200px;
      img {
        margin-top: 30px;
        width: 1000px;
        height: 600px;
      }
    }
    .booking-content {
      margin-top: 30px;
      margin-left: 200px;
      .content-title {
        font-size: 30px;
        font-weight: 600;
      }
      .content-price {
        margin-top: 10px;
        font-size: 30px;
        font-weight: 600;
      }
      .content-date {
        margin-top: 10px;
        font-size: 30px;
        font-weight: 600;
        input {
          margin: 0 5px;
          width: 200px;
          height: 45px;
          border-radius: 30px;
          text-align: center;
        }
      }
      .content-number {
        margin-top: 10px;
        font-size: 30px;
        font-weight: 600;
        input {
          margin: 0 5px;
          width: 200px;
          height: 45px;
          border-radius: 30px;
          text-align: center;
        }
      }
      .content-description {
        width: 80%;
        margin-top: 15px;
        font-size: 20px;
        font-weight: 600;
      }
      .content-totalprice {
        margin-top: 10px;
        font-size: 30px;
        font-weight: 600;
      }
      button {
        margin-top: 10px;
        color: white;
        background-color: red;
        margin-bottom: 30px;
        border-radius: 30px;
        padding: 12px 45px;
        font-size: 15px;
        font-weight: 600;
        &:hover {
          color: red;
          background-color: yellow;
        }
      }
    }
  }
}

//1240
@media (max-width: 1240px) {
  .bookingDetails {
    font-family: "Fira Sans", sans-serif;
    background-color: #e6f2ff;
    .booking-title {
      text-align: center;
      padding-top: 30px;
      font-size: 40px;
      font-weight: 600;
    }
    .booking-image {
      margin-left: 200px;
      img {
        margin-top: 30px;
        width: 800px;
        height: 600px;
      }
    }
    .booking-content {
      margin-top: 30px;
      margin-left: 200px;
      .content-title {
        font-size: 30px;
        font-weight: 600;
      }
      .content-price {
        margin-top: 10px;
        font-size: 30px;
        font-weight: 600;
      }
      .content-date {
        margin-top: 10px;
        font-size: 30px;
        font-weight: 600;
        input {
          margin: 0 5px;
          width: 200px;
          height: 45px;
          border-radius: 30px;
          text-align: center;
        }
      }
      .content-number {
        margin-top: 10px;
        font-size: 30px;
        font-weight: 600;
        input {
          margin: 0 5px;
          width: 200px;
          height: 45px;
          border-radius: 30px;
          text-align: center;
        }
      }
      .content-description {
        width: 75%;
        margin-top: 15px;
        font-size: 20px;
        font-weight: 600;
      }
      .content-totalprice {
        margin-top: 10px;
        font-size: 30px;
        font-weight: 600;
      }
      button {
        margin-top: 10px;
        color: white;
        background-color: red;
        margin-bottom: 30px;
        border-radius: 30px;
        padding: 12px 45px;
        font-size: 15px;
        font-weight: 600;
        &:hover {
          color: red;
          background-color: yellow;
        }
      }
    }
  }
}

// 1018
@media (max-width: 1018px) {
  .bookingDetails {
    font-family: "Fira Sans", sans-serif;
    background-color: #e6f2ff;
    .booking-title {
      text-align: center;
      padding-top: 30px;
      font-size: 40px;
      font-weight: 600;
    }
    .booking-image {
      margin-left: 200px;
      img {
        margin-top: 30px;
        width: 600px;
        height: 400px;
      }
    }
    .booking-content {
      margin-top: 30px;
      margin-left: 200px;
      .content-title {
        font-size: 25px;
        font-weight: 600;
      }
      .content-price {
        margin-top: 10px;
        font-size: 25px;
        font-weight: 600;
      }
      .content-date {
        margin-top: 10px;
        font-size: 25px;
        font-weight: 600;
        input {
          margin: 0 5px;
          width: 180px;
          height: 40px;
          border-radius: 30px;
          text-align: center;
        }
      }
      .content-number {
        margin-top: 10px;
        font-size: 25px;
        font-weight: 600;
        input {
          margin: 0 5px;
          width: 180px;
          height: 40px;
          border-radius: 30px;
          text-align: center;
        }
      }
      .content-description {
        width: 75%;
        margin-top: 15px;
        font-size: 18px;
        font-weight: 600;
      }
      .content-totalprice {
        margin-top: 10px;
        font-size: 20px;
        font-weight: 600;
      }
      button {
        margin-top: 10px;
        color: white;
        background-color: red;
        margin-bottom: 30px;
        border-radius: 30px;
        padding: 12px 45px;
        font-size: 15px;
        font-weight: 600;
        &:hover {
          color: red;
          background-color: yellow;
        }
      }
    }
  }
}

// 844
@media (max-width: 844px) {
  .bookingDetails {
    font-family: "Fira Sans", sans-serif;
    background-color: #e6f2ff;
    .booking-title {
      text-align: center;
      padding-top: 30px;
      font-size: 40px;
      font-weight: 600;
    }
    .booking-image {
      margin-left: 100px;
      img {
        margin-top: 30px;
        width: 500px;
        height: 400px;
      }
    }
    .booking-content {
      margin-top: 30px;
      margin-left: 100px;
      .content-title {
        font-size: 25px;
        font-weight: 600;
      }
      .content-price {
        margin-top: 10px;
        font-size: 25px;
        font-weight: 600;
      }
      .content-date {
        margin-top: 10px;
        font-size: 25px;
        font-weight: 600;
        input {
          margin: 0 5px;
          width: 180px;
          height: 40px;
          border-radius: 30px;
          text-align: center;
        }
      }
      .content-number {
        margin-top: 10px;
        font-size: 25px;
        font-weight: 600;
        input {
          margin: 0 5px;
          width: 180px;
          height: 40px;
          border-radius: 30px;
          text-align: center;
        }
      }
      .content-description {
        width: 75%;
        margin-top: 15px;
        font-size: 18px;
        font-weight: 600;
      }
      .content-totalprice {
        margin-top: 10px;
        font-size: 20px;
        font-weight: 600;
      }
      button {
        margin-top: 10px;
        color: white;
        background-color: red;
        margin-bottom: 30px;
        border-radius: 30px;
        padding: 12px 45px;
        font-size: 15px;
        font-weight: 600;
        &:hover {
          color: red;
          background-color: yellow;
        }
      }
    }
  }
}
// 610
@media (max-width: 610px) {
  .bookingDetails {
    font-family: "Fira Sans", sans-serif;
    background-color: #e6f2ff;
    .booking-title {
      text-align: center;
      padding-top: 30px;
      font-size: 40px;
      font-weight: 600;
    }
    .booking-image {
      margin-left: 50px;
      img {
        margin-top: 30px;
        width: 450px;
        height: 400px;
      }
    }
    .booking-content {
      margin-top: 30px;
      margin-left: 50px;
      .content-title {
        font-size: 25px;
        font-weight: 600;
      }
      .content-price {
        margin-top: 10px;
        font-size: 25px;
        font-weight: 600;
      }
      .content-date {
        margin-top: 10px;
        font-size: 25px;
        font-weight: 600;
        input {
          margin: 0 5px;
          width: 100px;
          height: 40px;
          border-radius: 30px;
          text-align: center;
        }
      }
      .content-number {
        margin-top: 10px;
        font-size: 25px;
        font-weight: 600;
        input {
          margin: 0 5px;
          width: 100px;
          height: 40px;
          border-radius: 30px;
          text-align: center;
        }
      }
      .content-description {
        width: 85%;
        margin-top: 15px;
        font-size: 18px;
        font-weight: 600;
      }
      .content-totalprice {
        margin-top: 10px;
        font-size: 20px;
        font-weight: 600;
      }
      button {
        margin-top: 10px;
        color: white;
        background-color: red;
        margin-bottom: 30px;
        border-radius: 30px;
        padding: 12px 45px;
        font-size: 15px;
        font-weight: 600;
        &:hover {
          color: red;
          background-color: yellow;
        }
      }
    }
  }
}

//520
@media (max-width: 520px) {
  .bookingDetails {
    font-family: "Fira Sans", sans-serif;
    background-color: #e6f2ff;
    .booking-title {
      text-align: center;
      padding-top: 30px;
      font-size: 40px;
      font-weight: 600;
    }
    .booking-image {
      margin-left: 40px;
      img {
        margin-top: 30px;
        width: 350px;
        height: 400px;
      }
    }
    .booking-content {
      margin-top: 30px;
      margin-left: 40px;
      .content-title {
        font-size: 25px;
        font-weight: 600;
      }
      .content-price {
        margin-top: 10px;
        font-size: 25px;
        font-weight: 600;
      }
      .content-date {
        margin-top: 10px;
        font-size: 25px;
        font-weight: 600;
        input {
          margin: 0 5px;
          width: 100px;
          height: 40px;
          border-radius: 30px;
          text-align: center;
        }
      }
      .content-number {
        margin-top: 10px;
        font-size: 25px;
        font-weight: 600;
        input {
          margin: 0 5px;
          width: 100px;
          height: 40px;
          border-radius: 30px;
          text-align: center;
        }
      }
      .content-description {
        width: 85%;
        margin-top: 15px;
        font-size: 18px;
        font-weight: 600;
      }
      .content-totalprice {
        margin-top: 10px;
        font-size: 20px;
        font-weight: 600;
      }
      button {
        margin-top: 10px;
        color: white;
        background-color: red;
        margin-bottom: 30px;
        border-radius: 30px;
        padding: 12px 45px;
        font-size: 15px;
        font-weight: 600;
        &:hover {
          color: red;
          background-color: yellow;
        }
      }
    }
  }
}

// 408
@media (max-width: 408px) {
  .bookingDetails {
    font-family: "Fira Sans", sans-serif;
    background-color: #e6f2ff;
    .booking-title {
      text-align: center;
      padding-top: 30px;
      font-size: 40px;
      font-weight: 600;
    }
    .booking-image {
      margin-left: 30px;
      img {
        margin-top: 30px;
        width: 300px;
        height: 450px;
      }
    }
    .booking-content {
      margin-top: 30px;
      margin-left: 30px;
      .content-title {
        font-size: 25px;
        font-weight: 600;
      }
      .content-price {
        margin-top: 10px;
        font-size: 25px;
        font-weight: 600;
      }
      .content-date {
        margin-top: 10px;
        font-size: 25px;
        font-weight: 600;
        input {
          margin: 0 5px;
          width: 100px;
          height: 40px;
          border-radius: 30px;
          text-align: center;
        }
      }
      .content-number {
        margin-top: 10px;
        font-size: 25px;
        font-weight: 600;
        input {
          margin: 0 5px;
          width: 100px;
          height: 40px;
          border-radius: 30px;
          text-align: center;
        }
      }
      .content-description {
        width: 85%;
        margin-top: 15px;
        font-size: 18px;
        font-weight: 600;
      }
      .content-totalprice {
        margin-top: 10px;
        font-size: 20px;
        font-weight: 600;
      }
      button {
        margin-top: 10px;
        color: white;
        background-color: red;
        margin-bottom: 30px;
        border-radius: 30px;
        padding: 12px 45px;
        font-size: 15px;
        font-weight: 600;
        &:hover {
          color: red;
          background-color: yellow;
        }
      }
    }
  }
}
